version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    
    steps:
      - checkout
      
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run: yarn install --ignore-engines
      
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      - run: yarn test
      - run: yarn build

      - run:
          name: release
          command: npx semantic-release || true
